@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito.ttf);

}

.mainContainer{
    display: flex;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    height: 300px;

    flex: 1;
    border: 1px solid rgb(135, 134, 93);
    border-radius: 15px;
    background-color: rgba(135, 134, 93, 0.5);
    text-align: center;
}

.card h1{
    font-family: 'Nunito', sans-serif;
}