@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito.ttf);

}

.mainContainer{
    display: flex;
    gap: 50px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.card{
    height: 400px;
    width: 400px;

    flex: 1;
    border: 1px solid rgb(135, 134, 93);
    border-radius: 15px;
    background-color: rgba(135, 134, 93, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /*text-align: center;*/
}

.card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h1{
    font-family: 'Nunito', sans-serif;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 0;
}

.cardHot{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
}

.fire{
    width: 50px;               
    height: 40px;
}



.main{
    font-family:'Nunito', sans-serif;
    font-size: 20px;
    display: flex;
    /*align-items: center;*/
    justify-items: flex-start;
    gap: 10px;
}

.meal{
    border-radius: 15px;
    margin-left: 10px;
}

.text{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
}

.descrip{
    margin-bottom: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
}
.descrip p{
    margin: 0;
}

.sost{
    display: flex;
    margin-top: 0;
    align-items: flex-start;
    padding-top: 0;
}

.sost li{
    margin: 0;
}



.price{
    width: 100hv;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.order{
    font-size: 26px;
    font-family: 'Nunito', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    height: 50px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.card:hover .order{
    opacity: 1;
    transform: translateY(0);
}