@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito.ttf);

}

.mainContainer{
    display: flex;
    gap: 50px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.card{
    height: 400px;
    width: 400px;

    flex: 1;
    border: 1px solid rgb(135, 134, 93);
    border-radius: 15px;
    background-color: rgba(135, 134, 93, 0.5);
    /*text-align: center;*/
}

.card h1{
    font-family: 'Nunito', sans-serif;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 0;
}

.cardHot{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
}

.fire{
    width: 50px;               
    height: 40px;
}



.main{
    font-family:'Nunito', sans-serif;
    font-size: 20px;
    display: flex;
    /*align-items: center;*/
    justify-items: flex-start;
    gap: 10px;
}

.meal{
    border-radius: 15px;
    margin-left: 10px;
}

.price{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 50px;
}
.price h1{
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: auto;
}